mat-icon {
  font-size: 35px;
}

mat-grid-tile.mat-card {
  padding: 0px;
  cursor: pointer;
  transition: all .1s linear;
}

.mat-card-title h2 {
  margin: 0;
}

mat-grid-tile.mat-card:hover {
  box-shadow: 0 0 15px 1px black;
}

mat-grid-tile.mat-card:active {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


.mat-grid-tile-header {
  background: rgb(63, 81, 181) !important;
}

.mat-grid-tile .mat-grid-tile-footer {
  padding: 0;
  height: 5px;
}

.landscape {
  min-height: 100%;
  min-width: 100%;
}

.landscape > img {
  width: 100%;
  height: auto;
}
